[server default]
user=mha_mgr
password=mha_mgr

repl_user=repl
repl_password=repl

ping_interval=1
ping_type=CONNECT

remote_workdir=/var/log/masterha/app2

manager_workdir=/var/log/masterha/app2
manager_log=/var/log/masterha/app2/app2.log

master_ip_failover_script=/etc/masterha/app2/scripts/master_ip_failover

master_ip_online_change_script=/etc/masterha/app2/scripts/master_ip_online_change

secondary_check_script=/usr/local/bin/masterha_secondary_check -s 10.252.99.33 -s 10.252.99.34 --user=mysql --port=22 --master_host=10.252.99.32 --master_port=3307

report_script=/etc/masterha/app2/scripts/send_report

[server1]
hostname=10.252.99.32
ssh_user=mysql
ssh_port=22

port=3307
ignore_fail=1
check_repl_delay=0
candidate_master=1
master_binlog_dir=/data/3307/logs

[server2]
hostname=10.252.99.33
ssh_user=mysql
ssh_port=22

port=3307
ignore_fail=1
check_repl_delay=0
candidate_master=1
master_binlog_dir=/data/3307/logs

[server3]
hostname=10.252.99.34
ssh_user=mysql
ssh_port=22

port=3307
ignore_fail=1
check_repl_delay=1
no_master=1
master_binlog_dir=/data/3307/logs
